body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #000000;
    
}

h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: 400;
}

p {
    font-size: 24px;
    margin-top: 0;
}

img {
    user-select: none;
    object-fit: cover;
}


/* header */

.header-container {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
}

.logo {
    height: 135px;
}

.menu-btn {
    display: none;
}

.header-btns img {
    height: 25px;
    margin: 0 10px;
    transition: .2s;
}

.header-btns img:hover {
    opacity: 0.7;
}


/* выпадающий список */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
}

nav a {
    display: block;
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    transition: .2s;
    padding: 20px 0;
}

nav a:hover {
    color: #666666;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    min-width: 175px;
    padding: 0 25px;
    float: none;
    display: list-item;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}

nav ul ul li:last-child {
    border-radius: 0 0 5px 5px;
}


/* main */
/* слайдер */

.slider-container {
    margin-bottom: 150px;
}

.swiper-slide img {
    display: block;
    height: 840px;
    width: 100%;
    float: none;
}

.swiper-btn {
    position: absolute;
    transition: .2s;
    padding: 5px 5px;
    width: 35px;
    z-index: 2;
}

.next {
    margin-top: 400px;
    margin-left: 95%;
}

.prev {
    margin-top: 400px;
    margin-left: 3%;
}

.swiper-btn:hover {
    cursor: pointer;
    transform: scale(.9);
}


/* текст на слайдере */

.service-container {
    position: absolute;
    left: 45%;
    top: 20%;
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-title {
    font-size: 64px;
}

.service-description {
    font-size: 32px;
    padding: 40px 0;
}

.service-btn {
    font-size: 20px;
    border: 1px solid black;
    padding: 15px 30px;
    text-align: center;
    width: 100px; 
    border-radius: 5px;
    transition: .2s;
}

.service-btn:hover {
    background: #FFB52D;
}


/* секция с приемуществами */

.main-container {
    margin: 0 150px;
}

.advantages-container {
    margin: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    width: 465px;
    margin-bottom: 20px;
    display: flex;
}

.advantage img {
    height: 161px;
    margin-right: 20px;
}

.advantage-span {
    width: 300px;
}

.advantage-span span {
    opacity: 0.75;
}


/* популярные категории */

.orange-wrapper {
    width: 100%;
    padding: 130px 0;
    background: #FFB52D;
    margin-bottom: 150px;
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-cards a {
    margin: 100px 20px 0px 20px;
}

.category-card {
    width: 303px;
    height: 400px;
    background: #F3F3F5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: .2s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.category-card:hover {
    scale: 1.02;
}

.category-card img {
    height: 200px;

}


/* команда */

.team-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 0 150px 0;
}

.team-card {
    text-align: center;
}

.team-card img {
    height: 304px;
    width: 304px;
    border-radius: 100%;
    border: 5px solid #FFB52D;
}

.team-card p {
    color: rgba(0, 0, 0, 0.75);
    line-height: 38px;

}

.team-card p a {
    opacity: 0.75;
    transition: .2s;
}

.team-card p a:hover {
    opacity: 1;
}


/* о компании */

.about-us-container {
    display: flex;
    background: #FFB52D;
    justify-content: space-between;
}

.about-us-text {
    margin: 100px 20px 80px 140px;
}

.about-us-img {
    width: 49vw;
}

.about-us-text p {
    margin-bottom: 70px;
}

.about-us-text a img {
    width: 8px;
}

.about-us-text a {
    transition: .2s;
}

.about-us-text a:hover {
    opacity: 0.5;

}


/* сертификаты */

.sertificats-container {
    text-align: center;
    margin: 150px 0;
}

.sertificats-container h2 {
    margin-bottom: 100px;
}

.sertificats-container .swiper-slide img {
    margin: 0 auto;
    display: block;
    width: 50%;
    max-width: 1000px;
    height: auto;
    border: 1px solid black;
    user-select: none;
}

.sertificats-container .next {
    display: block;
    position: absolute;
    margin: 250px 0 0 95%;

}

.sertificats-container .prev {
    display: block;
    position: absolute;
    margin: 250px 0 0 3%;
    
}

.sertificats-container a img {
    margin-top: 30px;
    width: 8px;
}

.sertificats-container a {
    transition: .2s;
}


.sertificats-container a:hover {
    opacity: 0.75;
}


/* обратная связь */

.feedback-container {
    display: flex;
    background: #F3F3F5;
    justify-content: space-between;
}

.feedback {
    margin: 0px 20px 40px 140px;
    max-width: 90%;
}

.feedback h2 {
    text-align: left;
}

.feedback form {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.feedback form input:not(:last-child) {
    line-height: 50px;
    border: none;
    border-bottom: 2px solid #000;
}

.feedback form input:last-child {
    width: 150px;
    height: 50px;
    transition: .2s;
    cursor: pointer;
    border-radius: 5px;
}

.feedback form input:last-child:hover {
    background: #FFB52D;
}

.feedback form input:focus {
    outline: none !important;
    border-bottom: 2px solid #000 !important;
}

.feedback form input, textarea {
    margin-bottom: 50px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background: #F3F3F5;
}

.feedback form textarea {
    border: 2px solid #000;
    resize: none;
    border-radius: 5px;
}

.feedback-img {
    width: 49vw;
    height: auto;
    pointer-events: none; 
}

.feedback p {
    margin-bottom: 70px;
}

.feedback a img {
    width: 8px;
}


/* отзывы */

.review-container {
    margin: 150px 0;
}

.review-card {
    margin: 0 auto;
    padding: 50px 0;
    display: block;
    width: 83vw;
    height: auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
    background: #F3F3F5;
    text-align: center;
}

.review-card p {
    display: block;
    margin: 0 auto;
    width: 950px;
}

.review-container .prev {
    margin: 230px 0 0 3%;
}

.review-container .next {
    margin: 230px 0 0 95%;
}


/* новости */

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
}

.news-container a {
    margin: 100px 20px 0px 20px;
}

.news-card {
    width: 485px;
    min-height: 670px;
    background: #F3F3F5;
    border-radius: 12px;
    text-align: center;
    transition: .2s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.news-card:hover {
    scale: 1.02;
}

.news-card img {
    height: 320px;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 34px;
}

.news-card span {
    font-size: 20px;
    opacity: 0.75;
}

.news-card h3 {
    margin: 41px 0;
}

.news-card p {
    padding: 0 30px;
}


/* футер */

.footer-container {
    background: #F3F3F5;
    display: flex;
    justify-content: space-between;
    padding: 100px 323px;
}

.footer-item {
    max-width: 400px;
    margin: 0 50px;
}


.footer-item a {
    transition: .2s;
}

.footer-item a:hover {
    opacity: 0.75;
}

@media screen and (max-width:1865px) {

    .header-container {
        margin: 0 100px;
    }

    nav ul li {
        margin: 0 10px;
        display: inline-block;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    nav a {
        font-size: 20px;
    }

    .advantage {
        width: 370px;
    }

    .advantage img {
        height: 120px;
    }

    .advantage-span {
        font-size: 20px;
    }


    .main-container {
        margin: 0 100px;
    }

    .category-card {
        width: 250px;
        height: 350px;
    }

    .category-card p {
        font-size: 20px;
    }

    .category-card img {
        scale: 0.8;
    }

}

/* под маленькие экраны */

@media screen and (max-width:1260px) {
    body {
        
        font-size: 20px;
    }
    
    h2 {
        font-size: 32px;
        font-weight: 400;
        text-align: center;
    }
    
    h3 {
        font-size: 25px;
    }
    
    p {
        font-size: 20px;
    }

    header {
        width: 100vw;
    }

    .logo {
        height: 100px;
    }

    
    .menu-btn {
        display: block;
    }

    .menu-btn img {
        height: 20px;
        cursor: pointer;
    }

    header nav {
        display: none;
        width: 100vw;
    }

    .header-container {
        margin: 0 1%;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .header-btns {
        padding: 20px 0;
        width: 80vw;
        display: flex;
        justify-content: space-around;
    }


    
    header nav a {
        font-size: 15px;
    }

    header nav ul {
        margin-bottom: 20px;
    }

    header nav ul li {
        width: 70vw;
    }

    header nav ul li a {
        padding: 10px;
    }

    nav ul ul li {
        max-width: 50px;
        padding: 10px;
        
    }

    .header-btns img {
        margin: 0;
        height: 25px;
    }

    .swiper-btn {
        margin-top: 300px;
        width: 20px;
    }
    
    .next {
        margin-left: 92%;
    }

    .prev {
        margin-left: 1%;
    }

    .swiper-slide img {
        width: 100%;
        height: 90vh;
    }

    .service-title {
        font-size: 27px;
    }
    
    .service-description {
        font-size: 20px;
        text-align: center;
    }

    .service-container {
        margin: 0 auto;
        left: 9%;
        top: 10%;
        width: 80vw;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 5px;
        border-radius: 10px;
    }

    .main-container {
        margin: 0 1%;
    }

    .advantages-container {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;

    }

    .advantage {
        width: 100vw;
        margin-bottom: 50px;
    }

    .advantage img {
        height: 100px;
        float: left;
        margin-right: 20px;
    }

    .advantage span {
        font-size: 18px;
        opacity: 0.75;
    }

    .category-cards {
        width: 100%;
        justify-content: center;
    }

    .team-container {
        margin: 100px 0 100px 0;
    }
    
    .team-container img {
        width: 200px;
        height: 200px;
    }

    .about-us-img {
        display: none;
    }

    .about-us-text p {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .about-us-text {
        margin: 80px 10px 80px 10px;
    }

    .sertificats-container .swiper-slide img {
        width: 70%;
    }

    .sertificats-container .prev {
        margin-top: 70px;
    }

    .sertificats-container .next {
        margin-top: 70px;
        margin-left: 92%;
    }

    .feedback h2 {
        margin-top: 70px;
        text-align: center;
    }

    .feedback {
        margin: 0 auto;
    }
    
    .feedback form {
        margin-top: 50px;
    }

    .feedback-img {
        display: none;
    }

    .feedback form textarea {
        border: none;
        outline: 2px solid #000;
        resize: none;
    }

    .feedback form input:last-child {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .review-container .next {
        margin-left: 92%;
    }
    .review-container .prev {
        margin-left: 1%;
    }

    .review-card {
        padding: 10px 0;
    }
    
    .review-card p {
        display: block;
        margin: 0 auto;
        width: 90%;
        font-size: 18px;
        padding-bottom: 30px;
    }

    .news-card {
        justify-content: center;
    }

    .news-card img {
        height: auto;
    }

    .news-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .news-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px 0px 0px 20px;
        max-width: 80%;
    }

    .footer-container {
        background: #F3F3F5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .footer-item {
        margin: 50px 50px 25px 50px;
    }

}